
@import "tailwindcss";

  @theme {
    --color-menu: #4d4c61;
    --color-text-primary: #00001f;
    --color-white: #fff;
    --color-black: #000;
    --color-blue: #2dcaf1;
    --color-pink: #ed28b6;
    --color-yellow: #e5b364;
    --color-red: #e64e66;
    --color-hypr-blue: #1a1288;
    --color-purple: #2b2158;
    --color-off-black: #221f20;
    --color-energetic-purple: #3807d3;
  }


*, *::before, *::after {
  box-sizing: border-box;
  
}
/* * {
  margin: 0;
} */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure {
  margin: 0;
}



html{
  scrollbar-gutter:stable;
}

/* 
:root {
 
} */

body {
  
  font-size: 20px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
 
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


hr{
  border: 0 none;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgba(26, 18, 136, 1.0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 5%;
}

h2{
  font-family: Rajdhani, sans-serif;
  font-weight: 600;
      line-height: 1.25;
}

ul {
  list-style: none; /* Remove bullet points */
  padding: 0;
  
  
}


a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
  
}


#app {
  font-family: Roboto, sans-serif;
  height: 100svh; 
  isolation: isolate;
  
}